*{
    padding: 0;
    margin: 0;
}
body{
    /* background-color: antiquewhite; */
    max-width: 1140px;
    margin: 0 auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(240, 231, 231);
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin: 15px 0px 15px 0px;

}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}
.header nav{
    margin: 15px 0px 15px 0px;
}
.header nav ul{
    display: flex;
    gap: 30px;

}

.header nav li{
    list-style:none;
}

.header nav a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    padding: 10px;
    font-weight: 700;
}

.header nav a:hover{
    background-color: blueviolet;
    color: white;
    border-radius: 5px; 
}

/* hero section */

.hero-container{
    background-image: url("/images/hero-image-3.avif");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    overflow: hidden;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 500px;
    color:rgb(30, 0, 60);
    font-size: 1.5em;
    
    /* border: 1px solid red; */
}

.hero-btn{
    padding: 10px;
    color: rgb(10, 1, 19);
    font-size: 1em;
    font-weight: 700;
    background-color: rgb(217, 213, 220);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 15px rgb(156, 153, 158);
}

.hero-btn:hover{
    background-color: blueviolet;
    color: white;
}